.list-records-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--mgc-padding-m);
    background-color: var(--mgc-light-grey);
}

.lrc-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--mgc-padding-s);
    gap: var(--mgc-gap-l);
}

.list-records-container .lrc-header h1 {
    margin-left: 20%;
    font-size: var(--mgc-font-size-l);
    color: var(--mgc-dark-grey);
}

.list-records-container .lrc-header p {
    margin-left: 20%;
    font-size: var(--mgc-font-size-m);
    color: var(--mgc-dark-grey);
}

.list-records-container .add-container {
    width: 80%;
    display: flex;
    margin-left: 20%;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: var(--mgc-padding-s);
    border-bottom: 1px solid var(--mgc-strong-turqouise);
}

.list-records-container .add-container > button {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    display: flex;
    align-items: center;
    background-color: var(--mgc-light-grey);
    border-radius: var(--mgc-radius-s);
    gap: var(--mgc-gap-m);
    padding: var(--mgc-padding-m);
    color: var(--mgc-strong-turqouise);
    font-size: var(--mgc-font-size-s);
}

.list-records-container .add-container > button:hover {
    background-color: var(--mgc-strong-turqouise);
    color: var(--mgc-white);
}

.list-records-container .records-container {
    width: 80%;
    display: flex;
    margin-left: 20%;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: var(--mgc-padding-m);
}

.data-list {
    width: 100%;
}

.data-list .data-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--mgc-padding-m);
    color: var(--mgc-dark-grey);
}

.data-list .data-item:nth-child(even) {
    background-color: var(--mgc-sixth-color);
}

.data-list .data-item:hover {
    background-color: var(--mgc-strong-turqouise);
    color: white;
    transition: all 0.5s ease-in-out;
}

.data-list .data-item .data-item-icon {
    width: 20px;
    object-fit: contain;
}
.item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: var(--mgc-padding-s); */
    gap: var(--mgc-gap-m)
}
.item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: var(--mgc-padding-s); */
    gap: var(--mgc-gap-m);
}

.item-actions .icon-button {
    border: none;
    background-color: transparent;
    color: var(--mgc-dark-grey);
}

.item-actions .icon-button:hover {
    color: var(--mgc-white);
}


.pagination {
    width: 80%;
    display: flex;
    margin-left: 20%;
    justify-content: flex-end;
    align-items: center;
    gap: var(--mgc-gap-m);
    border-top: 1px solid var(--mgc-strong-turqouise);
}

.pagination-button {
    cursor: pointer;
    color: var(--mgc-strong-turqouise);
}

.pagination > span {
    font-size: var(--mgc-font-size-m);
    color: var(--mgc-strong-turqouise);
}